@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

/* Configuración General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jaro';
}

body {
    background-color: #f4f4f4;
}

/* header estatico */
.main-header {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: white;
    padding: 1rem 0;
    position: sticky; /* Se queda pegado al llegar arriba */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Navegación */
.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #08c402;
}

/* Contenido de prueba */
.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spacer {
    height: 2000px; /* Para forzar el scroll */
    background: linear-gradient(to bottom, #f4f4f4, #ccc);
}
